.fondo {
    
    background-color: #00f7ff;
}

.miTexto {
    font-family: Arial, sans-serif;
    color: #333;
}
.titulo {
    color: blueviolet;
    font-size: 60px ;
}
h2{
   background-color: blueviolet;
}
.batidos {

    width: 100px;
    size: 50px;
}