.fondo {
    
    background-color: #60faff;
}

.miTexto {
    font-family: Arial, sans-serif;
    color: #333;
}
.titulo {
    color: blueviolet;
    font-size: 6em ;
    margin-top: 2em;
    margin: auto;
    width: 30%;
}
.titulo2 {
    color: blueviolet;
    font-size: 6em ;
    margin: auto;
    width: 45%;

}
.eslogan {

    font-size: 1.3em;
    width: 10em;
    margin: auto;
    border: 2px solid black;
    padding: 0px 1em 0px 2em;
    border-radius: 40%;
}
h2{
   background-color: blueviolet;
}
.b1 {
    max-width: 40%;
    max-height: 40%;
    height: 25vw;
    width: 25vw;
    margin: auto;
    border: 2px solid black;
    padding: 0px 2em 0px 2em;
    border-radius: 40%;
    transition: 1s;
    }
.b1:hover {
    background-color: aquamarine;
    
}

#bases  {

    font-size: 24px;

}